body {
  background-color: var(--main-bg-color);
  /* overflow: visible; */
}

/* Calender.jsx shadcn component manual adjustments */
.rdp-weekdays {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}
